@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --global-font:"Poppins", sans-serif;
    --font-weight-basic:100;
    --font-weight-primary:200;
    --font-weight-intermediate:300;
    --font-weight-advance:400;
    --font-weight-medium:500;
    --font-weight-semibold:600;
    --font-weight-bold:700;
    --font-weight-bold:800;
    --font-weight-bolder:900;
    --font-size-primary:1rem;
    --font-size-basic:1.2rem;
    --font-size-secondary:1.4rem;
    --font-size-advance:1.5rem;
    --font-size-large:2rem;
    --font-size-large-basic:2.25rem;
    --font-size-large-advance:2.5rem;
    --font-size-larger:3rem;
    --font-size-small:.7rem;
}

.text-500{
    font-weight: var( --font-weight-medium);
}
.text-600{
    font-weight: var(--font-weight-semibold);
}
.text-700{
    font-weight: var(--font-weight-bold);
}


body{
    font-family: var(--global-font);
    background: linear-gradient(95deg , #6190ed, #cdedbc);
}
h1{
    font-weight: var(--font-weight-bolder);
    font-size: var(--font-size-larger);
}
.container h2{
    font-size: var(--font-size-advance);
    font-weight: var(--font-weight-bold);
    color: #6391e8;
}.container p{
    font-size: var(--font-size-basic);
    font-weight: var(--font-weight-primary);
}
.form-custom{
    /* background: linear-gradient(195deg , #41dd8f, #54dd99); */
    background: white;
    padding: 2rem 5rem;
    position: relative;
}


.input{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border: none;
    background: transparent;
    outline: none;
    font-size: var(--font-size-small);
    color: rgba(0,0,0,0.6);
    font-weight: var(--font-weight-advance);
}
.input-container{
    position: relative;

}
.input-container p{
    font-size: var(--font-size-small);
}
.input-placeholder {
    position: relative;
    z-index: 1;
    pointer-events: none;
    padding: 0.3rem 0rem;
    opacity: .7;
    transform-origin: left;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-advance);
}
.line-svg{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    overflow: visible;
    opacity: .8;
}
.promo-container {
    display: flex;
    align-items: center; /* Center align items */
    position: relative;
}

.checkbox {
    opacity:0;
    cursor: pointer;
}

.promotions {
    font-size: 0.8rem;
    opacity: 0.7;
    margin-left: 0.5rem; /* Add some space between checkbox and text */
}

.checkbox-container {
    position: relative;
    width: 1rem;
    height: 1rem;
    border-radius: 3px;
    border: 2px solid #c5c5c5;
    overflow: hidden;
    z-index: 1;
} 
.check-mark,
.checkbox {
    position: absolute;
    top: 0; /* Adjust to position correctly */
    left: 0;
    width: 100%;
    height: 100%;
    z-index:10;
}
.button-container{
    display: flex;
    justify-content: flex-start;
}
.checkbox-fill{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    background: #6190ed;
}
.tick-mark{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.5);
    -webkit-transform: translate(-50%, -50%) scale(.5);
    -moz-transform: translate(-50%, -50%) scale(.5);
    -ms-transform: translate(-50%, -50%) scale(.5);
    -o-transform: translate(-50%, -50%) scale(.5);
}



/* character  */

#character{
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scale(.8) translate(0% , 30%);
    -webkit-transform: scale(.8) translate(0% , 30%);
    -moz-transform: scale(.8) translate(0% , 30%);
    -ms-transform: scale(.8) translate(0% , 30%);
    -o-transform: scale(.8) translate(0% , 30%);
    transform-origin: bottom;
}

.submit-msg{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.submit-msg p{
    font-weight: var(--font-weight-bold);
    font-size: var( --font-size-advance);
    color: #6391e8;
    pointer-events: none;
    opacity: 0;
}