/* responsive */
@media (min-width: 450px) and (max-width: 575px) {
    .p-xsm-3 {
        padding: 1rem!important;
    }
    .text-size-xsm-larger {
        font-size: var(--font-size-basic);
    }
    .font-xsm-bolder{
        font-weight: var(--font-weight-bolder);
    }
    .w-xsm-100{
        width: 100%;
    }
    #character{
        left:35%;
        transform: scale(.5) translate(-50% , 30%);
        -webkit-transform: scale(.5) translate(-50% , 30%);
        -moz-transform: scale(.5) translate(-50% , 30%);
        -ms-transform: scale(.5) translate(-50% , 30%);
        -o-transform: scale(.5) translate(-50% , 30%);
    }
    .pg-sm-size{
        font-size: var(--font-size-sm-small);
    }
    .mb-xsm-5 {
        margin-bottom: 3rem!important;
    }
    .pb-xsm-3{
        padding-bottom: 1rem;
    }
} 
@media (min-width: 576px) and (max-width: 768px) {

    .pg-md-size{
        font-size: var(--font-size-primary) !important;
    }

    #character{
        left:35%;
        transform: scale(.5) translate(-50% , 30%);
        -webkit-transform: scale(.5) translate(-50% , 30%);
        -moz-transform: scale(.5) translate(-50% , 30%);
        -ms-transform: scale(.5) translate(-50% , 30%);
        -o-transform: scale(.5) translate(-50% , 30%);
    }

} 
@media (min-width: 576px) {
    .text-size-sm-larger {
        font-size: var(--font-size-advance);
    }
    .font-sm-bolder{
        font-weight: var(--font-weight-bolder);
    }
    .w-sm-100{
        width: 100%;
    }
} 
@media (min-width: 768px) {
    .text-size-md-larger {
        font-size: var(--font-size-large);
    }
    .font-md-bolder{
        font-weight: var(--font-weight-bolder);
    }
    .w-md-100{
        width: 100%;
    }
} 
@media (min-width: 992px) {
    .text-size-lg-larger {
        font-size: var(--font-size-large);
    }
    .font-lg-bolder{
        font-weight: var(--font-weight-bolder);
    }
    .w-lg-50{
        width: 50%;
    }
} 

@media (min-width: 1200px) {
    .text-size-xl-larger {
        font-size: var(--font-size-larger);
    }
    .font-xl-bolder{
        font-weight: var(--font-weight-bolder);
    }
    .w-xl-25{
        width: 50%;
    }
} 

@media (min-width: 1400px) {
    .text-size-xxl-larger {
        font-size: var(--font-size-larger);
    }
    .font-xxl-bolder{
        font-weight: var(--font-weight-bolder);
    }
    .w-xxl-25{
        width: 50%;
    }
}
